@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nabla&display=swap');

body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
 
  background-color: rgb(87, 83, 83);
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.title {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
}